.git
.vs
.vscode
.history
.docker-image-id
photos/
profiles/
data/
!data/geo
main
photofield
photofield.exe
photofield.exe~
*.cache.db
out.png
tmp
ui/
!ui/dist/
internal/testdata/
test-tmp/
.task/
dist/
e2e/
docs/
testdata/
