.history
photos/
profiles/
data/
main
photofield
photofield.exe
photofield.exe~
*.cache.db
*.cache.db-shm
*.cache.db-wal
out.png
tmp
.ipynb_checkpoints
tools/jupyter/data
.env
dist/
node_modules/
/blob-report/
.task/
.docker-image-id
.task-release-changelog.md
testdata/
libwebp_amd64.so
