highlightable-input {
  line-height: var(--mdc-typography-body2-line-height,1.25rem);
  height: var(--mdc-typography-body2-line-height,1.25rem);

  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:none;
  border:none;
  border-radius:0;
  font-family:var(--mdc-typography-subtitle1-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
  font-size:var(--mdc-typography-subtitle1-font-size,1rem);
  font-weight:var(--mdc-typography-subtitle1-font-weight,400);
  letter-spacing:var(--mdc-typography-subtitle1-letter-spacing,.009375em);
  min-width:0;
  padding:0;
  text-decoration:inherit;
  -webkit-text-decoration:var(--mdc-typography-subtitle1-text-decoration,inherit);
  text-decoration:var(--mdc-typography-subtitle1-text-decoration,inherit);
  text-transform:var(--mdc-typography-subtitle1-text-transform,inherit);
  transition:opacity .15s cubic-bezier(.4,0,.2,1) 0s;
  width:100%;

  caret-color: var(--mdc-theme-primary,#6200ee);  

  background-color: transparent;
  display: block;

  cursor: text;
}
