html, body {
  margin: 0;
}

html {
  overflow-y: scroll;
}

.plyr {
  min-width: 0 !important;
}

html.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
html.hide-scrollbar::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* 
html {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
} */

/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
