html, body {
  margin: 0;
}

.plyr {
  min-width: 0 !important;
}

html.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
html.hide-scrollbar::-webkit-scrollbar { /* WebKit */
  display: none;
  width: 0;
  height: 0;
}

html.no-scroll {
  overflow: hidden;
}

